#navbar{
    margin: 4px;
    border-radius: 5px;
}
#ul{
    margin: 4px;
    border-radius: 5px;
}
.card{
    margin: 4px;
}
#a-teg{
    text-decoration: none;
}
#foot{
    margin: 4px;
    justify-content: end;
    border-radius: 5px;
}
