#img {
  width: 10px;
  border-radius: 100%;
}
aside {
  margin-top: 100px;
  width: 250px;
  height: 100%;
}
header {
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 5px;
  right: 5px;
  width: 100%;.
  padding: 1rem 9%;
  background-color: transparent;
  filter: drop-shadow(10px);
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  z-index: 10;
  background: back;
  
}
nav, a{
  color: black;
  text-decoration: none;
}
.logo{
   justify-content:start;
}
